<!-- <div>
    <a class="internal-link" href="/"><b>{{ site.title }}</b></a>
</div> -->
<header>
    <nav class="nav-container">
      <a class="logo-link internal-link logo" href="/">
            aadimator's notes
      </a>
      <!-- <div class="nav-controls">
        <a class="internal-link" href="https://aadimator.com/writing">Writing</a>
        <a class="internal-link" href="/" class="menu_notes">Notes</a>

        <button
          id="themeColorButton"
          title="Toggle Dark Mode"
          class="icon-wrapper"
        >
          <div id="sunRays" class="sun-rays"></div>
          <div id="moonOrSun" class="moon-or-sun"></div>
          <div id="moonMask" class="moon-mask"></div>
        </button>
      </div> -->
    </nav>
  </section>
</header>
